<?xml version="1.0" encoding="utf-8"?>

<configuration>
   <configSections>
      <sectionGroup name="userSettings"
                    type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
         <section name="WPFAreaScreenRecorder.Properties.Settings"
                  type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                  allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
   </configSections>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
   </startup>
   <userSettings>
      <WPFAreaScreenRecorder.Properties.Settings>
         <setting name="VideoEncoderNumber" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="VideoEncoderMode" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="VideoEncoderMediaType" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="FileFormatNumber" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="StoringDir" serializeAs="String">
            <value />
         </setting>
         <setting name="VideoSourceStream" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="VideoSourceMediaType" serializeAs="String">
            <value>6</value>
         </setting>
         <setting name="CursorMask" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="ShowCursor" serializeAs="String">
            <value>True</value>
         </setting>
         <setting name="MaskColor" serializeAs="String">
            <value>200, 100, 255, 100</value>
         </setting>
         <setting name="VideoCompressionQuality" serializeAs="String">
            <value>50</value>
         </setting>
         <setting name="AudioSourceStream" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="AudioSourceMediaType" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="AudioEncoderNumber" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="AudioEncoderMode" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="AudioEncoderMediaType" serializeAs="String">
            <value>0</value>
         </setting>
         <setting name="AudioCompressionQuality" serializeAs="String">
            <value>50</value>
         </setting>
      </WPFAreaScreenRecorder.Properties.Settings>
   </userSettings>
</configuration>